<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 相机为必需能力 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- 主清单不申请 INTERNET：AI 全部本地推理，无任何网络上传（P1-6）。
         INTERNET 仅在 debug 清单中放开，用于开发调试。 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="DokaLike 相机"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
